
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #5a5858;
    }
    
    .container {
      display: flex;
      height: 100vh;
    }
    
    .left-panel {
      width: 200px;
      background-color: #333;
      color: #fff;
      padding: 20px;
    }
    
    .left-panel ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .left-panel li {
      margin-bottom: 13%;
      
    }
    
    .left-panel li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
    }
    
    .content {
      flex-grow: 1;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }
    
    .card {
      width: 100%;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 20px;
      padding: 20px;
      text-align: center;
      color: white;
      background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2F5%2F1%2Fa%2F124353-popular-gym-background-1920x1110-for-android-tablet.jpg&f=1&nofb=1&ipt=e974ac1a2807e173b611b99151f407aab760b6ff04980efb31fe84ca96800f18&ipo=images);
      background-size: cover;
      
    }

    .card h2{

      font-size: 3rem;
    }
    .card p {
      font-size: 2rem;
      margin-top: 2%;

    }

    .card button{
      width: 11rem;
      height: 2.9em;
      background-color: rgba(0, 0, 0, 0.431);
      color: white;
      cursor: pointer;
      border-radius: 7px;
      margin-top: 8%;
    }

    

  
    
    @media only screen and (max-width: 768px) {
      .container {
        flex-direction: column;
      }
      
      .left-panel {
        width: 100%;
        height: 20%;
      }

      .left-panel li {
        margin-bottom: 3%;
      }
      
      .content {
        flex-grow: 1;
        padding: 10px;
      }
      
      .card {
        /* width: calc(50% - 40px); */
        width: 100%;

      }
      .cnt-cards{
        flex-direction: column;
      }
    }

    .cnt-cards{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .cnt-card{

      width: 300px;
      height: 230px;
      border: 1px solid white;
      border-radius: 7px ;
      margin: 3%;
      background-color: #0000006b;
    }

    .cnt-card img{
      height: 6rem;
      padding: 5px;
    }
    

